{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'authentication/css/login.css' %}">
{% endblock %}

{% block 'title' %}Login{% endblock 'title' %}

{% block 'content' %}
    <div class="main-container">
        {% if messages %}
        <br>
        {% for message in messages %}
        <div class="alert {{message.tags}}">
            {{message}}
        </div>
        {% endfor %}
        {% endif %}
        <div class="logo-container">
            <div class="logo-content">
                <img class="svg" id="logo-icon" src="{% static 'global_svg/logo.svg'%}">
                <div class="logo-text">
                    <span id="text-logo">Nutrily</span>
                </div>
            </div>
            <span>Acesse sua conta</span>

        </div>

        <form class="form-container" method="POST">{% csrf_token %}
            <div class="form-content">
                <div class="label-form">
                    <label for="email">E-mail</label>
                    <input type="text" name="email" id="email">
                </div>
                <div class="label-form">
                    <label for="password">Senha</label>
                    <input type="text" name="password" id="password">
                </div>
                <div class="btn-container">
                    <button type="submit">Entrar</button>
                </div>
            </div>
        </form>

        <div class="main-footer">
            <span>Ainda não possui uma conta? <a id="register-link" href="{% url 'register' %}">Registre-se
                    aqui</a></span>
        </div>
    </div>
{% endblock %}