{% extends 'base.html' %}
{% load static %}


{% block 'head' %}
<link rel="stylesheet" href="{% static 'authentication/css/register.css' %}">
{% endblock %}

{% block 'title' %}Cadastre-se{% endblock %}

{% block 'content' %}

<div class="main-container">

    <div class="logo-container">
        <div class="logo-content">
            <img class="svg" id="logo-icon" src="{% static 'global_svg/logo.svg' %}" alt="">
            <div class="logo-text">
                <span id="text-logo">Nutrily</span>
            </div>
        </div>
        <span>Crie sua conta</span>
    </div>
    {% if messages %}
    <br>
    {% for message in messages %}
    <div class="alert {{message.tags}}">
        {{message}}
    </div>
    {% endfor %}
    {% endif %}

    <form class="form-container" method="POST" action="">{% csrf_token %}
        <div class="form-content">
            <div class="label-form">
                <label for="username">Nome completo</label>
                <input type="text" name="username" id="username">
            </div>
            <div class="label-form">
                <label for="email">E-mail</label>
                <input type="text" name="email" id="email">
            </div>
            <div class="password-label-box">
                <div class="label-form">
                    <label for="password">Senha</label>
                    <input type="text" name="password" id="password">
                </div>
                <div class="label-form">
                    <label for="confirm_password">Confirmar senha</label>
                    <input type="text" name="confirm_password" id="confirm_password">
                </div>
            </div>
            <div class="btn-container">
                <button type="submit">Cadastrar</button>
            </div>
        </div>
    </form>

    <div class="main-footer">
        <span>Já possui cadastro? <a id="register-link" href="{% url 'login' %}">Acesse sua conta</a></span>
    </div>
</div>
</body>

{% endblock %}